@model List<int>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
   @ViewData["num1"]
   <br/>
   @ViewData["myMsg"]
   <br/>
   @ViewBag.MyTest
   <br/>
   @ViewBag.num2
   <br/>
   <ul>
    @foreach(var data in ViewBag.arr) {
        <li>@data</li>
    }
   </ul>

   @* <ul>
    @foreach(var data in Model) {
        <li>@data</li>
    }
   </ul>
   <p>모델 count: @Model.Count</p> *@
</body>
</html>